.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.title {
    color: #6cd0ac;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    font-family: initial
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formField {
    margin-bottom: 30px;
}