.button {
    background-color: #6cd0ac;
    border: 1px solid rgba(255, 255, 255, 0.972);
    border-radius: 6060px;
    color: rgb(255, 255, 255);
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.button:hover {
    background-color: #418d718f;
    cursor: pointer;
}