@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    background-color: #ffffff;
    color: black;
    font-family: 'Roboto', sans-serif;
}


#root {
    height: 100%;
}