.header {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(209, 76%, 33%, 0.906);
}